﻿
@{
    ViewBag.Title = "AboutUs Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td, tr {
        padding: 3px;
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 20px;
    }

    th, h3 {
        text-align: center;
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 30px;
    }
</style>
<h3 style="text-align:center;">Team Details</h3>
<div class="container">
    <table border="1" style="width:100%;background-color:dimgray; border-color:white;" ">
        <tr>
            <th style="width: 25%;">Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td style="width: 25%;">Nilesh Samaria</td>
            <td>&nbsp;Web Developer, SQL</td>
        </tr>
        <tr>
            <td style="width: 25%;">Bhupendra Sharma</td>
            <td>&nbsp;AI Facial Recognition</td>
        </tr>
        <tr>
            <td>Anant Patil</td>
            <td>&nbsp;UI Designer, Presentations</td>
        </tr>
        <tr>
            <td style="width: 25%;">Saurav Singh</td>
            <td>&nbsp;AI Facial Recognition</td>
        </tr>
        <tr>
            <td style="width: 25%;">Rajender Siriseti</td>
            <td>&nbsp;Data Scientist</td>
        </tr>
        <tr>
            <td style="width: 25%;">Sachin Shinde</td>
            <td>&nbsp;Technical Project Manager</td>
        </tr>
    </table>
</div>

