﻿@model List<DB_Entities.ProductDetails>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.container4 {
        height: 20em;
        position: relative;
        margin-top: 15px;
    }

        div.container4 img, table {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    label {
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 25px;
    }

    td, tr {
        padding: 3px;
        color: white;
        font-family: 'Arial Rounded MT';
        padding-left: 85px;
        font-size: 15px;
    }

    th {
        text-align: center;
        font-weight: bold;
        color: white;
        font-family: 'Arial Rounded MT';
    }

    div.container4 {
        height: 10em;
        position: relative;
        margin-top: 5px;
    }

    h3 {
        text-align: center;
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 30px;
    }
</style>

<div class="col-md-12">
    <h3>Checkout Page</h3>
</div>
@if (Model != null && Model.Count > 0)
{
    <div class="Container">
        <table border="1" style="width:70%;background-color:goldenrod; border-color:white;" id="tblOrderDetails">
            <tr>
                <th><label>Product Name</label></th>
                <th><label>Quantity</label></th>
                <th><label>Price</label></th>
                <th><label>Total</label></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductQyt</td>
                    <td>$ @item.ProductAmount</td>
                    <td class="productTotal">$ @item.ProductTotal</td>
                </tr>
            }
            <tr>
                <td colspan="3" style="text-align:center;"><label>Total Amount:</label></td>
                <td><p style="font-family:'Arial Rounded MT';font-size:25px;" id="TotalAmount"></p></td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <button class="form-control btn btn-success" style="width:200px;" onclick="PlaceOrder();">Place Order</button>
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var totalAmount = 0;
        $.each($('table#tblOrderDetails > tbody > tr > td[class="productTotal"]'), function (i, item) {
            totalAmount = totalAmount + parseFloat($(item).text().replace("$ ", ""));
        });
        $('#TotalAmount').text("$ " + totalAmount);
    });

    function PlaceOrder() {
        $.ajax({
            url: "/Home/PlaceOrder",
            success: function () {
                location.href = "/Home/Home";
            }
        });
    }
</script>