﻿@model DB_Entities.EnrollModel
@{
    ViewBag.Title = "Enroll Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/webcam.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script src="~/Scripts/AWS_Config.js"></script>
<script src="~/Scripts/AI_ImageRekon.js"></script>
<style>
    div.container4 {
        height: 20em;
        position: relative;
        margin-top: 15px;
    }

        div.container4 img, table {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    td > label {
        color: white;
        font-family: 'Brush Script MT';
        font-size: 35px;
    }

    td, tr {
        padding: 3px;
    }

    .displayNone {
        display: none;
    }
</style>

<div class="container" style="text-align:center;">
    <label>Enter your details.</label>
</div>
<div style="display: -webkit-box;">
    <div class="col-md-6 container4" id="my_camera" style="margin-left:10%"></div>
    <div class="col-md-6 container4">
        <table border="0">
            <tr>
                <td><label>First Name:</label></td>
                <td><input type="text" class="form-control" id="txtFirstName" /></td>
            </tr>
            <tr>
                <td><label>Last Name:</label></td>
                <td><input type="text" class="form-control" id="txtLastName" /></td>
            </tr>
            <tr>
                <td><label>Mobile Number:</label></td>
                <td><input type="text" class="form-control" id="txtMobileNumber" /></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" class="form-control" id="txtEmail" /></td>
            </tr>
            <tr>
                <td><label>Allergies:</label></td>
                <td>@Html.DropDownListFor(m => m.AllergiesList, new SelectList(Model.AllergiesList, "ProductComponentID", "ProductComponentName", Model), new { @id = "ddlAllergies", @class = "form-control", @multiple = "multiple" })</td>
            </tr>
            <tr>
                <td><br /></td>
                <td><br /></td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-6 container" style="text-align:center;padding-top:10px;">
                        @*<button class="form-control btn btn-success" style="width:300px;" disabled onclick="EnrollUser();" id="btnSubmit">Submit</button>*@
                        <button class="form-control btn btn-info" style="width:200px;" onclick="TakePicture();">Enroll</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-6 container" style="text-align:left;padding-top:10px;margin-left:18%;">
    @*<button class="form-control btn btn-info" style="width:200px;" onclick="TakePicture();">Take Picture</button>*@
</div>

<div id="results" style="display:none">Your captured image will appear here...</div>
<h4 style="display:none">
    <span id="matchresults"></span>
    <span id="matchresultsdata"></span>
</h4>
<div id="appUserInfo" style="display:none"></div>

<script language="JavaScript">
    Webcam.set({
        // live preview size
        width: 640,
        height: 480,

        // device capture size
        dest_width: 640,
        dest_height: 480,

        // final cropped size
        crop_width: 640,
        crop_height: 480,

        // format and quality
        image_format: 'jpeg',
        jpeg_quality: 100
    });

    Webcam.attach('#my_camera');

</script>
<script type="text/javascript">
    $(document).ready(function () {

        setTimeout(function () {

            $('#ddlAllergies').multiselect({
                includeSelectAllOption: true,
                disableIfEmpty: true,
                disabledText: '-Please Select Allergies-',
                enableFiltering: false,
                enableCaseInsensitiveFiltering: true,
                maxHeight: 150
            });
            $('.multiselect-clear-filter').addClass("displayNone");
        }, 500);
        $('#btnSubmit').attr("disabled", "disabled");
    });

    function EnrollUser() {
        var firstName = $('#txtFirstName').val();
        var lastName = $('#txtLastName').val();
        var MobileNumber = $('#txtMobileNumber').val();
        var email = $('#txtEmail').val();
        var faceId = $('#matchresults').text();

        console.log('EnrollUser Face MAtch Id :' + faceId);

        if (faceId == null || faceId == undefined || faceId == 'undefined' || faceId == '') {
            console.log('Face MAtch Id is null so calling again');
            EnrollUser();
        }

        var allergies = [];

        $.each($('#ddlAllergies option:selected'), function () {
            if ($(this).text !== "-Please Select Allergies-") {
                allergies.push($(this).val());
            }
            else {
                allergies.push(0);
            }
        });

        var userDetails = {
            "FirstName": firstName,
            "LastName": lastName,
            "MobileNumber": MobileNumber,
            "Email": email,
            "FaceId": faceId,
            "Allergies": allergies
        };
        $.ajax({
            url: "/Home/EnrollUser",
            type: "POST",
            data: {
                userDetails: userDetails
            },
            success: function () {
                location.href = "/Home/Menu";
            }
        });
    }

    function TakePicture() {
        setTimeout(function () {
            $('#btnSubmit').removeAttr("disabled");
        }, 2000);
        var imagename = $('#txtFirstName').val().trim() + "_" + $('#txtLastName').val().trim();
        imagename = (imagename.replace(/\s+/g, '')) + ".png";

        if (Webcam !== null) {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                document.getElementById('results').innerHTML =
                    '<h2>Here is your image:</h2>' +
                    '<img id="imgSnapshot" src="' + data_uri + '"/>';
            });
            var control = document.getElementById("imgSnapshot");
            if (control !== null) {
                $("#appUserInfo").html("");
                //alert(imagename);
                var file = dataURLtoFile(control.src, imagename);
                DetectFaces(file);
            }

        }
    }

    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, { type: mime });
    }

    function DetectFaces(file) {

        var imgFile = file;
        AWS.region = "us-east-1";
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                var rekognition = new AWS.Rekognition();
                var params = {
                    //CollectionId: 'AI_RekonCollection', /* required */
                    Image: { /* required */
                        Bytes: e.target.result,
                    }
                };

                rekognition.detectFaces(params, function (err, data) {
                    if (err) console.log(err, err.stack); // an error occurred
                    else {
                        if (data.FaceDetails.length > 0) {
                            //alert(data.FaceDetails[0].Confidence);
                            //ProcessImage(imgFile);
                            addUserPhoto('AI_IMAGEREKON');
                        }
                        else {
                            //$("#matchresults").text("Face Matching % : ");
                            //$("#matchresultsdata").text("Face ID : ");
                            //alert("No Face Detected. Please Stand by Closer to Camera");
                            return false;
                        }
                    }
                });

            };
        })(file);
        reader.readAsArrayBuffer(file);
        return false;
    }

    function ProcessImage(file) {
        $("#matchresultsdata").text("Face ID : ");
        AnonLog();

        // Load base64 encoded image for display
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                //Call Rekognition
                AWS.region = "us-east-1";
                var rekognition = new AWS.Rekognition();
                var params = {
                    CollectionId: 'AI_RekonCollection', /* required */
                    Image: { /* required */
                        Bytes: e.target.result,
                    },
                    FaceMatchThreshold: 85,
                    MaxFaces: 2
                };

                rekognition.searchFacesByImage(params, function (err, data) {
                    if (err) console.log(err, err.stack); // an error occurred
                    else {
                        //console.log(data);
                        if (data["FaceMatches"] !== null && data["FaceMatches"] !== undefined && data["FaceMatches"] !== "undefined" && data["FaceMatches"].length > 0) {
                            if (data["FaceMatches"][0] !== null)
                                facematchPercentage = data["FaceMatches"][0].Similarity;

                            $("#matchresults").text("Face Matching % : " + facematchPercentage);
                            searchFaceIdMatch = data["FaceMatches"][0].Face.FaceId;
                            $("#matchresultsdata").text("Face Search ID : " + searchFaceIdMatch);


                            var dbparams = {
                                //Key={ 'RekognitionId': { 'S': data["FaceMatches"][0].Face.FaceId } },
                                Key: {
                                    "RekognitionId": {
                                        S: searchFaceIdMatch
                                    }
                                },
                                TableName: "AI_RekonCollection"
                            };

                            dynamodb.getItem(dbparams, function (err, data) {

                                if (err) console.log(err, err.stack); // an error occurred
                                else {
                                    //console.log(data);           // successful response

                                    if (data.Item !== null && data.Item !== undefined && data.Item !== "undefined") {
                                        facematchId = data.Item.RekognitionId.S;
                                        $("#matchresultsdata").text("Face ID : " + facematchId);
                                        GetUserInfo(data.Item.FullName.S);
                                        //clearInterval(refreshIntervalId);
                                    }
                                }
                            });
                        }

                    }
                });
            };
        })(file);
        reader.readAsArrayBuffer(file);
    }

    function AnonLog() {

        // Configure the credentials provider to use your identity pool
        AWS.config.region = 'us-east-1'; // Region
        AWS.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: 'us-east-1:295b27c3-009f-4953-aaf4-d8cbf7d5bb3b',
        });
        // Make the call to obtain credentials
        AWS.config.credentials.get(function () {
            // Credentials will be available when this function is called.
            var accessKeyId = AWS.config.credentials.accessKeyId;
            var secretAccessKey = AWS.config.credentials.secretAccessKey;
            var sessionToken = AWS.config.credentials.sessionToken;
        });
    }
</script>


