﻿
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script src="~/Scripts/webcam.js"></script>
<script src="~/Scripts/AWS_Config.js"></script>
<script src="~/Scripts/AI_ImageRekon.js"></script>
<style>
    .mySlides {
        display: none
    }

    .w3-left, .w3-right, .w3-badge {
        cursor: pointer
    }

    .w3-badge {
        height: 13px;
        width: 13px;
        padding: 0
    }
    div > img {
        width:950px;
        height:500px;
    }
</style>
<div class="row">
    <div class="col-md-4" style="margin-left:50px;">
        <div id="my_camera" style="width:500px;height:500px;padding-top:15px;"></div>
    </div>
    <div class="col-md-8 w3-content w3-display-container" style="width:750px; height:500px; object-fit:contain; padding-top:15px;">
        <img class="mySlides" src="~/Images/Cinnamon Raisin Bagel.jpg" />
        <img class="mySlides" src="~/Images/egg-salad-sandwich.jpg" />
        <img class="mySlides" src="~/Images/oatmeal_cookie.jpg" />
        <img class="mySlides" src="~/Images/Seared_Steak_Egg_Tomatillo_Wrap.jpg" />
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
            <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        </div>
    </div>
    <div id="results" style="display:none">Your captured image will appear here...</div>
    <h4 style="display:none">
        <span id="matchresults"></span>
        <span id="matchresultsdata"></span>
    </h4>
    <div id="appUserInfo" style="display:none"></div>
</div>

<script language="JavaScript">
    if (Webcam !== null) {
        Webcam.set({
            // live preview size
            width: 550,
            height: 480,

            // device capture size
            dest_width: 550,
            dest_height: 480,

            // final cropped size
            crop_width: 550,
            crop_height: 480,

            // format and quality
            image_format: 'jpeg',
            jpeg_quality: 100
        });
        Webcam.attach('#my_camera');
    }
</script>
<script type="text/javascript">
    var searchFaceIdMatch;
    var facematchId;
    var facematchPercentage;
    var dynamodb = new AWS.DynamoDB();
    var intervalId = null;
    var varCounter = 1;
    var refreshIntervalId;

    var slideIndex = 1;
    $(document).ready(function () {
        setTimeout(function () {
            if (Webcam !== null) {
                refreshIntervalId = setInterval(function () { take_snapshot(); }, 600);
            }
        }, 1500);
    });

    carousel();
    function carousel() {
        showDivs(slideIndex);
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1; }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 4 seconds
    }

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1; }
        if (n < 1) { slideIndex = x.length; }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }

    function Navigate(url) {
        window.location.href = url;
    }

    function take_snapshot() {

        if (Webcam !== null) {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                document.getElementById('results').innerHTML =
                    '<h2>Here is your image:</h2>' +
                    '<img id="imgSnapshot" src="' + data_uri + '"/>';
            });
            var control = document.getElementById("imgSnapshot");
            if (control !== null) {
                $("#appUserInfo").html("");
                var file = dataURLtoFile(control.src, 'TestImage.png');
                DetectFaces(file);
            }

        }
    }

    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, { type: mime });
    }

    function DetectFaces(file) {
        var imgFile = file;
        AWS.region = "us-east-1";
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {

                var rekognition = new AWS.Rekognition();

                var params = {
                    //CollectionId: 'AI_RekonCollection', /* required */
                    Image: { /* required */
                        Bytes: e.target.result
                    }
                };

                rekognition.detectFaces(params, function (err, data) {
                    if (err) console.log(err, err.stack); // an error occurred
                    else {
                        if (data.FaceDetails.length > 0) {
                            ProcessImage(imgFile);
                            if (varCounter === 1) {

                                varCounter = 0;
                                //setTimeout(Navigate('/Home/Enroll'), 15000);
                                setTimeout(function () {
                                    Navigate('/Home/Enroll');

                                }, 10000);
                            }
                        }
                        else {
                            $("#matchresults").text("Face Matching % : ");
                            $("#matchresultsdata").text("Face ID : ");
                            //alert("No Face Detected");
                            return false;
                        }
                    }
                });

            };
        })(file);
        reader.readAsArrayBuffer(file);
        return false;
    }

    function ProcessImage(file) {
        $("#matchresultsdata").text("Face ID : ");
        AnonLog();

        // Load base64 encoded image for display
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                //Call Rekognition
                AWS.region = "us-east-1";
                var rekognition = new AWS.Rekognition();
                var params = {
                    CollectionId: 'AI_RekonCollection', /* required */
                    Image: { /* required */
                        Bytes: e.target.result,
                    },
                    FaceMatchThreshold: 80,
                    MaxFaces: 10
                };

                rekognition.searchFacesByImage(params, function (err, data) {
                    if (err) console.log(err, err.stack); // an error occurred
                    else {
                        // console.log("Face Process Starts :");
                        //console.log(data);
                        if (data["FaceMatches"] !== null && data["FaceMatches"] !== undefined && data["FaceMatches"] !== "undefined" && data["FaceMatches"].length > 0) {
                            if (data["FaceMatches"][0] !== null)
                                facematchPercentage = data["FaceMatches"][0].Similarity;

                            $("#matchresults").text("Face Matching % : " + facematchPercentage);
                            searchFaceIdMatch = data["FaceMatches"][0].Face.FaceId;
                            $("#matchresultsdata").text("Face Search ID : " + searchFaceIdMatch);


                            var dbparams = {
                                //Key={ 'RekognitionId': { 'S': data["FaceMatches"][0].Face.FaceId } },
                                Key: {
                                    "RekognitionId": {
                                        S: searchFaceIdMatch
                                    }
                                },
                                TableName: "AI_RekonCollection"
                            };

                            dynamodb.getItem(dbparams, function (err, data1) {
                                if (err) {
                                    debugger;
                                    console.log(err, err.stack); // an error occurred
                                }
                                else {
                                    //console.log(data);           // successful response
                                    console.log("Processing searchFacesByImage: " + data1.Item);

                                    if (data1.Item !== null && data1.Item !== undefined && data1.Item !== "undefined") {
                                        debugger;
                                        facematchId = data1.Item.RekognitionId.S;
                                        $("#matchresultsdata").text("Face ID : " + facematchId);
                                        photoUrl = GetUserInfo(data1.Item.FullName.S);
                                        $('#spanPhotoUrl').text(photoUrl);
                                        //while (refreshIntervalId) {
                                        //    clearInterval(refreshIntervalId);
                                        //    alert(refreshIntervalId);
                                        //}
                                        clearInterval(refreshIntervalId);
                                        Navigate("/Home/Welcome?faceId=" + facematchId);
                                    }
                                    //else {
                                    //    Navigate('/Home/Enroll');
                                    //}
                                }
                            });
                        }
                        //else {
                        //    Navigate('/Home/Enroll');
                        //}
                    }
                });
            };
        })(file);
        reader.readAsArrayBuffer(file);
    }

    function AnonLog() {

        // Configure the credentials provider to use your identity pool
        AWS.config.region = 'us-east-1'; // Region
        AWS.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: 'us-east-1:295b27c3-009f-4953-aaf4-d8cbf7d5bb3b'
        });
        // Make the call to obtain credentials
        AWS.config.credentials.get(function () {
            // Credentials will be available when this function is called.
            var accessKeyId = AWS.config.credentials.accessKeyId;
            var secretAccessKey = AWS.config.credentials.secretAccessKey;
            var sessionToken = AWS.config.credentials.sessionToken;
        });
    }
</script>
