﻿@model  DB_Entities.MenuModel
@{
    ViewBag.Title = "Menu Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 13px;
        margin-bottom:0;
    }

    div.container4 {
        height: 7.5em;
        position: relative;
        margin-top: 5px;
    }

        div.container4 img {
            margin: 0;
            position: absolute;
            top: 65%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    td {
        text-align: center;
    }
    button {
        width: 200px;
    }
</style>
<div class="">
    @if (Model.ProductDetailsList != null && Model.ProductDetailsList.Count > 0)
    {
        int j = Model.ProductDetailsList.Count;
        int l = 1;
        <table style="width:100%">
            @for (int i = 1; i <= Model.Counter; i++)
            {
                <tr>
                    @*<div class="container" style="display:inline-flex;margin:5px;">*@
                    @for (int k = l - 1; k < j; k++, l++)
                    {
                        <td style="width:450px;">
                            <div class="container">
                                <div class="container4" style="margin:2px">
                                    <img src="@Model.ProductDetailsList[k].ProductImageURL" style="height:100px;width:190px;" title="@Model.ProductDetailsList[k].ProductDescription" />
                                </div>
                                <div class="container4" style="height:7em;">
                                    <table border="0" style="width:100%">
                                        <tr>
                                            <td colspan="2"><label>@Model.ProductDetailsList[k].ProductName</label></td>
                                        </tr>
                                        <tr>
                                            <td><label style="font-size:13px;">Cal @Model.ProductDetailsList[k].ProductCal kcal</label></td>
                                        </tr>
                                        <tr>
                                            <td><label style="font-size:13px;">Price $ @Model.ProductDetailsList[k].ProductAmount</label></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><button style="width: 200px;" id="btnAddToCart_@Model.ProductDetailsList[k].ProductID" class="btn btn-warning form-control" onclick="AddToCart(this);">Add to cart</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            @if (l % 5 == 0)
                            {
                                l++;
                                break;
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <label>No Menu item available to display.</label>
    }
</div>

<script type="text/javascript">
    function AddToCart(_this) {
        var productID = $(_this).attr('id').split('_')[1];
        $.ajax({
            url: "/Home/AddToCart",
            type: "GET",
            dataType: "json",
            data: {
                productID: productID
            },
            success: function (count) {
                $('.has-badge').attr('data-count', count);
            }
        });
    }
</script>