﻿@model DB_Entities.WelcomeModel
@{
    ViewBag.Title = "Welcome Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td, tr {
        padding: 3px;
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 12px;
        text-align: center;
    }

    h4 {
        text-align: center;
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 30px;
    }

    th {
        text-align: center;
        color: white;
        font-family: 'Arial Rounded MT';
        font-size: 15px;
    }

    h5 {
        text-align: center;
        color: white;
        font-family: 'Arial Rounded MT';
    }

    div.container4 {
        height: 8em;
        position: relative;
        margin-top: 5px;
    }

        div.container4 img {
            margin: 0;
            position: absolute;
            top: 65%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    .vl {
        border-left: 6px solid white;
        height: 255px;
        margin-left: 3%;
    }
</style>
<div class="row" style="margin:55px;">
    <div class="col-md-12">
        <div style="display: inline-block;"><img id="imgUser" style="border-radius:50%; width:100px; height:100px;" src="@ViewBag.PhotoUrl" /></div>
        <div style="display: inline-block;vertical-align: bottom;"><h4>Welcome @Model.UserDetails.FirstName @Model.UserDetails.LastName</h4></div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-info form-control" style="width:200px;float:right;" onclick="location.href='/Home/Menu'">Go To Menu</button>
    </div>
    <div class="row" style="width: 100%;">

        <div class="col-md-5">
            <h5>Ordered Product History</h5>
            <table border="0" style="width:100%;">
                <tr>
                    @foreach (var item in Model.OrderHistory)
                    {
                        <td>
                            <div class="container">
                                <div class="container4" style="margin:2px">
                                    <img src="@item.ProductImageURL" style="height:75px;width:100px;" title="@item.ProductDescription" />
                                </div>
                                <div class="container4" style="height:7em;">
                                    <table border="0" style="width:100%">
                                        <tr>
                                            <td colspan="2"><label>@item.ProductName</label></td>
                                        </tr>
                                        <tr>
                                            <td><label>Cal  @item.ProductCal kcal</label></td>
                                        </tr>
                                        <tr>
                                            <td><label>Price  $ @item.ProductAmount</label></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><button style="width: 200px;" id="btnAddToCartOH_@item.ProductID" class="btn btn-warning form-control" onclick="AddToCart(this);">Add to cart</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            </table>
        </div>
        <div class="vl"></div>
        <div class="col-md-6">
            <h5>Recommendations</h5>
            <table border="0" style="width:100%;">
                <tr>
                    @foreach (var item in Model.Recommendations)
                    {
                        <td>
                            <div class="container">
                                <div class="container4" style="margin:2px">
                                    <img src="@item.ProductImageURL" style="height:75px;width:100px;" title="@item.ProductDescription" />
                                </div>
                                <div class="container4" style="height:7em;">
                                    <table border="0" style="width:100%">
                                        <tr>
                                            <td colspan="2"><label>@item.ProductName</label></td>
                                        </tr>
                                        <tr>
                                            <td><label>Cal  @item.ProductCal kcal</label></td>
                                        </tr>
                                        <tr>
                                            <td><label>Price  $ @item.ProductAmount</label></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><button style="width: 200px;" id="btnAddToCartR_@item.ProductID" class="btn btn-warning form-control" onclick="AddToCart(this);">Add to cart</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#imgUser").attr('src', localStorage.getItem("PhotoUrl"));
    });

    function AddToCart(_this) {
        var productID = $(_this).attr('id').split('_')[1];
        $.ajax({
            url: "/Home/AddToCart",
            type: "GET",
            dataType: "json",
            data: {
                productID: productID
            },
            success: function (count) {
                $('.has-badge').attr('data-count', count);
            }
        });
    }
</script>

