﻿<!DOCTYPE html>
@{
    var count = (int)HttpContext.Current.Session["Count"];
}
<style>
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #313129;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        opacity: 0.95;
        overflow: hidden;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    body {
        background-image: url('../../Images/BackgroundShape.png');
        background-repeat: repeat-y;
        background-repeat: repeat-x;
    }

    .sideNavIcon {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #313129;
        overflow-x: hidden;
        padding: 5px;
        transition: 0.5s;
        opacity: 0.75;
        overflow: hidden;
    }

    p {
        color: white;
        font-family: 'Brush Script MT';
        font-size: 35px;
    }
    /*$shopping-cart-red: #DF0000;*/

    .fa-stack[data-count]:after {
        position: absolute;
        right: 0%;
        top: 2%;
        content: attr(data-count);
        font-size: 35%;
        padding: .4em;
        border-radius: 999px;
        line-height: .75em;
        color: red;
        /*color: $shopping-cart-red;*/
        text-align: center;
        min-width: 1.6em;
        font-weight: bold;
        background: white;
        border-style: solid;
    }

    .fa-circle {
        color: #DF0000;
    }

    .red-cart {
        color: #DF0000;
        background: white;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DB's Restaurant & Cafe</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body style="padding:0;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding:0;background-color:white;">
        <div>
            <div class="navbar-header">
                <a href="/Home/Home" class="navbar-brand" style="margin:0;"><img src="~/Images/Logo.png" style="height:160px;" /></a>
            </div>
        </div>
    </div>
    <span class="sideNavIcon" style="font-size:30px;text-align:center;">
        <i class="fa fa-bars" aria-hidden="true" style="color:white;cursor:pointer" onclick="openNav();"></i><br />
        <span class="fa-stack fa has-badge" data-count='@count' style="width:1.4em;height:1.8em;" onclick="location.href='/Home/CheckOut'">
            <i class="fa fa-circle fa-stack-2x" style="font-size:1.7em;width:65%;"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse" style="width:90%"></i>
        </span>
    </span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true" style="color:white;"></i></a>
        <a href="/Home/Home">Home</a>
        <a href="/Home/Menu">Menu</a>
        <a href="/Home/Enroll">Enroll</a>
        <a href="/Home/AboutUs">About Us</a>
    </div>
    <span id="spanPhotoUrl" hidden></span>
    <div style="height:500px;overflow:hidden;">
        @RenderBody()
    </div>
    <hr style="height:10px;border:none;color:#333;background-color:#eee;" />
    <footer>
        @*<p>&copy; @DateTime.Now.Year - DB's Restaurant & Cafe</p>*@
        <div class="row">
            <div class="col-md-4" style="text-align:center;"><p><a href="#">What's Happening</a></p></div>
            <div class="col-md-4" style="text-align:center;"><p><a href="#">Find a location</a></p></div>
            <div class="col-md-4" style="text-align:center;"><p><a href="#">Rewards Center</a></p></div>
        </div>
    </footer>
    
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
